
<h1>New Game</h1>

<div class="borderred">
  <%@random_letters.each do |letter|%>
  <span class="greenbox"><%= letter %></span>
  <%end%>
</div>
<div class="borderred maxwidth">
  <form action="/score" method="post" >
    <input type="text" name="word" placeholder="type your best guess" class="percent">
    <input type="submit" value="Play" class="formbox">
    <%=hidden_field_tag :grid, @random_letters%>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</div>
